<?xml version="1.0"?>

<model>
    <name>HASS_ST_20</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>


    <author>
        <name>Yossi Ovcharik</name>
    </author>

    <maintainer email="yossi@robotican.co">Yossi Ovcharik</maintainer>


    <description>HASS_ST_20 CNC machine </description>

    <depend>
        <model>
            <uri>model://HASS_ST_20</uri>
            <version>1.0</version>
        </model>
    </depend>



</model>
