<?xml version="1.0"?>

<model>
    <name>HAAS_VF2</name>
    <version>1.0</version>
    <sdf version="1.6">HAAS_VF2.sdf</sdf>


    <author>
        <name>Shmulik Edelman</name>
    </author>

    <maintainer email="shmulike@post.bgu.ac.il">Shmulik Edelman</maintainer>


    <description>HAAS_VF2 CNC machine</description>

    <depend>
        <model>
            <uri>model://HAAS_VF2</uri>
            <version>1.0</version>
        </model>
    </depend>



</model>
